worker_processes auto;
events {
  worker_connections 1024;
}
http {
  server {
    listen 8090 default_server;
    listen [::]:8090 default_server;
    root /var/www/html;
    index index.html;
    server_name _;
    location / {
        autoindex on;
        autoindex_exact_size on;
    }
  }
}
